@use './../../util';
@use 'sass:map';
@use 'Button' as base;

$Button_Rounded_Sabgc_text-align: center;
$Button_Rounded_Sabgc_outline: none;
$Button_Rounded_Sabgc_background-color: map.get(util.$RGB,"SeaGreen");
$Button_Rounded_Sabgc_border: none;
$Button_Rounded_Sabgc_padding: 15px 25px;
$Button_Rounded_Sabgc_font-size: 24px;
$Button_Rounded_Sabgc_color: white;
$Button_Rounded_Sabgc_cursor: pointer;
$Button_Rounded_Sabgc_background-color-hover: #3e8e41;
$Button_Rounded_Sabgc_box-shadow-active: 0 5px #666;
$Button_Rounded_Sabgc_transform: translateY(4px);
$Button_Rounded_Sabgc_box-shadow: 0 9px gray;
$Button_Rounded_Sabgc_background-color-active: #2f6e31;
$Button_Rounded_Sabgc_border-radius: 15px;

@mixin Button_Rounded_Sabgc_(
    $text-align: $Button_Rounded_Sabgc_text-align , 
    $outline: $Button_Rounded_Sabgc_outline, 
    $background-color: $Button_Rounded_Sabgc_background-color, 
    $border: $Button_Rounded_Sabgc_border, 
    $padding: $Button_Rounded_Sabgc_padding, 
    $font-size: $Button_Rounded_Sabgc_font-size, 
    $color: $Button_Rounded_Sabgc_color, 
    $cursor: $Button_Rounded_Sabgc_cursor, 
    $background-color-hover: $Button_Rounded_Sabgc_background-color-hover , 
    $background-color-active: $Button_Rounded_Sabgc_background-color-active , 
    $box-shadow-active: $Button_Rounded_Sabgc_box-shadow-active, 
    $transform: $Button_Rounded_Sabgc_transform , 
    $box-shadow: $Button_Rounded_Sabgc_box-shadow,
    $border-radius: $Button_Rounded_Sabgc_border-radius
    ) {
    @include base.Button_($border: $border, $color: $color, $padding: $padding, $font-size: $font-size, $cursor: $cursor,$background-color: $background-color);
    @include util.rounded_($border: false, $border-radius:$border-radius );
    @include util.shadow_animated_bgc_($background-color-hover: $background-color-hover , $background-color-active: $background-color-active , $box-shadow-active: $box-shadow-active , $transform: $transform , $box-shadow: $box-shadow );
}

// Button Rounded Shadow Animated Background Color
.Button_Rounded_Sabgc {
    @include Button_Rounded_Sabgc_;
}